flows.json
[
    {
        "id": "0102ef3a5e2d0b80",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c3997bc1114fe52",
        "type": "group",
        "z": "0102ef3a5e2d0b80",
        "name": "SINH vien đã đăng kí",
        "style": {
            "fill": "#ffff3f",
            "label": true
        },
        "nodes": [
            "bb678e3b3cd3cd99",
            "372cb510579047bf",
            "16a93d858ec6536a",
            "14bba42ae6ac2968",
            "443e5fca3fb4beba",
            "f5943765792b5360",
            "658b9550a016bea2",
            "f598fac0a57e77d6",
            "31397d069c977732",
            "c4e572353aac2eab",
            "32b4a853c20b602f",
            "c41c3815148368e4",
            "dd8bfaf8607aca8e",
            "b22022f71f9b961a",
            "8ef3be8e6df25575",
            "fcca74a66e632ec0",
            "66645281c43cf462",
            "a00e0d7d62140f45",
            "7c00cfabe0667c3e",
            "a018602eb55719bc",
            "token_checker",
            "894e6597c8c545ca",
            "e69f5788958d2ebd"
        ],
        "x": 54,
        "y": 119,
        "w": 952,
        "h": 642
    },
    {
        "id": "4a9fc846b062bec6",
        "type": "group",
        "z": "0102ef3a5e2d0b80",
        "name": "Đổi mật khẩu",
        "style": {
            "fill": "#ffff3f",
            "label": true
        },
        "nodes": [
            "396888a7f480fd36",
            "62d6d2b98367e6d1",
            "1ce7636aa4069d12",
            "5207a4c6662bfd3d",
            "70188acfa796c2f4",
            "9429407e1375e25a",
            "7e16e68fb696cd32",
            "d8e23517d323a16b",
            "f56ce09659d3e3d0",
            "d44e18a08fc859e3",
            "edc8883e35649902",
            "cd4063a2a8ee8f2b",
            "a340bc20639d2f32",
            "e83afa64a7a3b335",
            "ee2b6ea7a8adc907",
            "1e97a0cbc2752776",
            "4c4ea1978f265fa2",
            "233cb7cc4eb9ed27",
            "db27bd5b1c0a8feb",
            "02d2b0f2fcc2fc69",
            "a01a3b7b4b2cbf99",
            "d99e7ae240d12c43",
            "fa59e7eb9174807f",
            "aa6e44bc878f39db",
            "3b8ecc04604307d1"
        ],
        "x": 1034,
        "y": 119,
        "w": 1012,
        "h": 562
    },
    {
        "id": "9ccd4a726342b2c0",
        "type": "group",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa ",
        "style": {
            "fill": "#ffff3f",
            "label": true
        },
        "nodes": [
            "8410279c1c0e807c",
            "02a88391d2f94612",
            "b15884a9688ee3fb",
            "9660a3800dae6e4a",
            "5d12d60e1aad4d40",
            "80dcfe9db87762c7",
            "a155e2acb728a4f8",
            "1a111b897dfd11a9",
            "7103ca146bb55339",
            "5cb30132e0f27f14",
            "f508612254f07ec3",
            "f217465db3dd5d36",
            "ff5033eb0133dce5",
            "48c030cd73217350",
            "9bacd5d0a09f3a44",
            "bb370f794194666a",
            "8e171a7fa3baa543",
            "e78da61507736e43",
            "6ae626f64b982275",
            "e011542e1f39ce11"
        ],
        "x": 994,
        "y": 739,
        "w": 972,
        "h": 562
    },
    {
        "id": "9a727d3644f66c8e",
        "type": "group",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "style": {
            "fill": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "4ec9e3bc3cc1b5f0",
            "d1442ffe24f643a7",
            "d3f99e05cea333bc",
            "2f6aaadfafc451f3",
            "90568becad1e38e2",
            "8225bb9faa2957f9",
            "5e8a4c3ed2bbc9fa",
            "59480556bf8e4004",
            "308e06a42c7e6c6f",
            "499b59a391476e6f",
            "d594f49cb61e6045",
            "76038b4990209719",
            "dd89a28bd8b693b9",
            "dc93360fd83116f0",
            "032d75a82fbf8ecc",
            "891b76c02e371d22",
            "49108a8a63065842",
            "4bcf96cb8431767b",
            "548cc6cb9ad98c61",
            "e6840fb9016a9c62",
            "d624c44f224cf145"
        ],
        "x": 2314,
        "y": 659,
        "w": 1052,
        "h": 422
    },
    {
        "id": "3a05d3cabc3495d2",
        "type": "group",
        "z": "0102ef3a5e2d0b80",
        "name": "Đã đăng kí",
        "style": {
            "fill": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "dce8b92dc376b68f",
            "06908c227c9d3657",
            "a2a1d42fac327bff",
            "ad2d79d8424640a9",
            "4b3c203a931c2257",
            "0c9a05c578a33aa1",
            "2ff35ff2ab1c0560",
            "b750ce8f1bfe1d6f",
            "7082357482b23358",
            "dc667107d375bb7c",
            "d5552236a35aad87",
            "6a7789caf8a44ec2",
            "18b01a7f95b83440",
            "ae0feb8f41eec50b",
            "fa78faf6cc8e0f52",
            "84d65f4c53867af1",
            "5f2c259524695fb3",
            "4800aa753d62ad46",
            "1cb450085ad9c3ef",
            "a430144759d3ba75",
            "6a23723240f4f2f4",
            "39773f2b706319ef",
            "feba4f95abc7abb4",
            "7d1eed6302c9134b",
            "e5aab2f577124d4d",
            "c09073801a9ebb3d",
            "02f3089460ae4a4e",
            "1cacdcd943955dcd",
            "391e4e54cd4ac542",
            "291d2f29d84af3a7",
            "640a7643abf36e5a",
            "a27f8e67b5946881",
            "fd3116c0bfd5e21b",
            "0bee17aeafefe900",
            "2d3495a045b613b0",
            "1684e490ace6fb6c",
            "e8ddac221f4e1ca8",
            "16de2ede17b4a82c"
        ],
        "x": 3574,
        "y": 699,
        "w": 1272,
        "h": 642
    },
    {
        "id": "bb678e3b3cd3cd99",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "username",
        "label": "Tài khoản",
        "tooltip": "",
        "group": "1ee8b7c65473f833",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "username",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "14bba42ae6ac2968"
            ]
        ]
    },
    {
        "id": "372cb510579047bf",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "password",
        "label": "Mật khẩu",
        "tooltip": "",
        "group": "1ee8b7c65473f833",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "password",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 210,
        "wires": [
            [
                "14bba42ae6ac2968"
            ]
        ]
    },
    {
        "id": "16a93d858ec6536a",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "login",
        "group": "1ee8b7c65473f833",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Đăng ký",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "b22022f71f9b961a"
            ]
        ]
    },
    {
        "id": "14bba42ae6ac2968",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Lưu user/pass",
        "func": "flow.set(msg.topic, msg.payload);\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "443e5fca3fb4beba",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Gửi MQTT user_login",
        "func": "var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        password: password\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "f5943765792b5360"
            ]
        ]
    },
    {
        "id": "f5943765792b5360",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Đăng nhập MQTT",
        "topic": "CREAT_LOGIN21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "658b9550a016bea2",
        "type": "mqtt in",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "MQTT Nhận kết quả",
        "topic": "CREAT_RESULT21146282",
        "qos": "0",
        "datatype": "json",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "f598fac0a57e77d6",
                "32b4a853c20b602f"
            ]
        ]
    },
    {
        "id": "f598fac0a57e77d6",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Xử lý kết quả",
        "func": "if (msg.payload.register === true) {\n    msg.payload = \"Đăng kí thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "31397d069c977732"
            ],
            [
                "c4e572353aac2eab"
            ]
        ]
    },
    {
        "id": "31397d069c977732",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thành công",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "c4e572353aac2eab",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thất bại",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "32b4a853c20b602f",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "function 1",
        "func": "if (msg.payload.register === true) {\n    msg.payload = \"Đăng kí thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "c41c3815148368e4"
            ]
        ]
    },
    {
        "id": "c41c3815148368e4",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "reset",
        "func": "let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "bb678e3b3cd3cd99",
                "372cb510579047bf"
            ]
        ]
    },
    {
        "id": "dd8bfaf8607aca8e",
        "type": "mqtt in",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "MQTT Nhận token",
        "topic": "admin/check21146282",
        "qos": "2",
        "datatype": "auto",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "token_checker"
            ]
        ]
    },
    {
        "id": "b22022f71f9b961a",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "443e5fca3fb4beba"
            ],
            []
        ]
    },
    {
        "id": "396888a7f480fd36",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "username",
        "label": "Tài khoản",
        "tooltip": "",
        "group": "e87352f38a248268",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "username",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "5207a4c6662bfd3d"
            ]
        ]
    },
    {
        "id": "62d6d2b98367e6d1",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "password",
        "label": "Mật khẩu",
        "tooltip": "",
        "group": "e87352f38a248268",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": "0",
        "topic": "newPassword",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1160,
        "y": 230,
        "wires": [
            [
                "5207a4c6662bfd3d"
            ]
        ]
    },
    {
        "id": "1ce7636aa4069d12",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "login",
        "group": "e87352f38a248268",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Xác nhận ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "a340bc20639d2f32"
            ]
        ]
    },
    {
        "id": "5207a4c6662bfd3d",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Lưu user/pass",
        "func": "flow.set(msg.topic, msg.payload);\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "70188acfa796c2f4",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Gửi MQTT user_login",
        "func": "var username = flow.get(\"username\") || \"\";\nvar newPassword = flow.get(\"newPassword\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        newPassword: newPassword\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 300,
        "wires": [
            [
                "9429407e1375e25a",
                "02d2b0f2fcc2fc69"
            ]
        ]
    },
    {
        "id": "9429407e1375e25a",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Đăng nhập MQTT",
        "topic": "CHANGE_LOGIN21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 1750,
        "y": 300,
        "wires": []
    },
    {
        "id": "7e16e68fb696cd32",
        "type": "mqtt in",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "MQTT Nhận kết quả",
        "topic": "CHANGE_RESULT21146282",
        "qos": "0",
        "datatype": "json",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "d8e23517d323a16b",
                "edc8883e35649902"
            ]
        ]
    },
    {
        "id": "d8e23517d323a16b",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Xử lý kết quả",
        "func": "if (msg.payload.change === true) {\n    msg.payload = \"Đổi thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Không tồn tại tài khoản?\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 460,
        "wires": [
            [
                "f56ce09659d3e3d0"
            ],
            [
                "d44e18a08fc859e3"
            ]
        ]
    },
    {
        "id": "f56ce09659d3e3d0",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thành công",
        "x": 1660,
        "y": 400,
        "wires": []
    },
    {
        "id": "d44e18a08fc859e3",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thất bại",
        "x": 1630,
        "y": 480,
        "wires": []
    },
    {
        "id": "edc8883e35649902",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "function 2",
        "func": "if (msg.payload.change === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 560,
        "wires": [
            [
                "cd4063a2a8ee8f2b"
            ]
        ]
    },
    {
        "id": "cd4063a2a8ee8f2b",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "reset",
        "func": "let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 560,
        "wires": [
            [
                "396888a7f480fd36",
                "62d6d2b98367e6d1"
            ]
        ]
    },
    {
        "id": "a340bc20639d2f32",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "70188acfa796c2f4"
            ],
            []
        ]
    },
    {
        "id": "54975aa76729e19d",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "ed8f5c0910ea904a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tạo tài khoản",
        "tooltip": "",
        "color": "",
        "bgcolor": " ",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Tạo tài khoản\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2060,
        "y": 120,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "400520169372a455",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "ed8f5c0910ea904a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đổi mật khẩu",
        "tooltip": "",
        "color": "",
        "bgcolor": " ",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Đổi mật khẩu\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2050,
        "y": 200,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "18826231df1340ce",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "ed8f5c0910ea904a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Xóa tài khoản",
        "tooltip": "",
        "color": "",
        "bgcolor": " ",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Xóa tài khoản\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2060,
        "y": 280,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "ee2daf0403a325bc",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "events": "all",
        "x": 2240,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8410279c1c0e807c",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "username",
        "label": "Tài khoản",
        "tooltip": "",
        "group": "058eb6e0ea94ca5f",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "username",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "b15884a9688ee3fb"
            ]
        ]
    },
    {
        "id": "02a88391d2f94612",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "login",
        "group": "058eb6e0ea94ca5f",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Xác nhận xóa",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1090,
        "y": 900,
        "wires": [
            [
                "f217465db3dd5d36"
            ]
        ]
    },
    {
        "id": "b15884a9688ee3fb",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Lưu user/pass",
        "func": "flow.set(msg.topic, msg.payload);\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 800,
        "wires": []
    },
    {
        "id": "9660a3800dae6e4a",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Gửi MQTT user_login",
        "func": "var username = flow.get(\"username\") || \"\";\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username    \n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 900,
        "wires": [
            [
                "5d12d60e1aad4d40"
            ]
        ]
    },
    {
        "id": "5d12d60e1aad4d40",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Đăng nhập MQTT",
        "topic": "DELETE_LOGIN21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 1710,
        "y": 880,
        "wires": []
    },
    {
        "id": "80dcfe9db87762c7",
        "type": "mqtt in",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "MQTT Nhận kết quả",
        "topic": "DELETE_RESULT21146282",
        "qos": "0",
        "datatype": "json",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1150,
        "y": 1040,
        "wires": [
            [
                "a155e2acb728a4f8",
                "5cb30132e0f27f14"
            ]
        ]
    },
    {
        "id": "a155e2acb728a4f8",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Xử lý kết quả",
        "func": "if (msg.payload.delete === true) {\n    msg.payload = \"Xóa thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Không tồn tại tài khoản?\";\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "1a111b897dfd11a9"
            ],
            [
                "7103ca146bb55339"
            ]
        ]
    },
    {
        "id": "1a111b897dfd11a9",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thành công",
        "x": 1640,
        "y": 980,
        "wires": []
    },
    {
        "id": "7103ca146bb55339",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Thông báo thất bại",
        "x": 1610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5cb30132e0f27f14",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "function 170",
        "func": "if (msg.payload.delete === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1100,
        "wires": [
            [
                "f508612254f07ec3"
            ]
        ]
    },
    {
        "id": "f508612254f07ec3",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "reset",
        "func": "let resetUsername = \"\"; // hoặc: { payload: \"\" }\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }]];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1100,
        "wires": [
            [
                "8410279c1c0e807c"
            ]
        ]
    },
    {
        "id": "f217465db3dd5d36",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "9660a3800dae6e4a"
            ],
            []
        ]
    },
    {
        "id": "check_interval",
        "type": "inject",
        "z": "0102ef3a5e2d0b80",
        "name": "Check token mỗi 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "token_valid_checker"
            ]
        ]
    },
    {
        "id": "token_valid_checker",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Kiểm tra hiệu lực",
        "func": "const tokenTimestamp = flow.get(\"tokenTimestamp\") || 0;\nconst now = new Date().getTime();\nconst threeMinutes = 10 * 60 * 1000;\n\nif (now - tokenTimestamp > threeMinutes) {\n    flow.set(\"allow\", false);\n    return { payload: \"Hết quyền truy cập, vui lòng đăng nhập lại\" };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "ui_notify",
                "7e233b7924eb3376"
            ]
        ]
    },
    {
        "id": "ui_notify",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Thông báo UI",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "7e233b7924eb3376",
        "type": "debug",
        "z": "0102ef3a5e2d0b80",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 920,
        "wires": []
    },
    {
        "id": "9b2bfeb103a0616c",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "Gửi MQTT",
        "group": "19b13f6f4596a6de",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2650,
        "y": 400,
        "wires": [
            [
                "a4b59dfee4e7666a"
            ]
        ]
    },
    {
        "id": "a4b59dfee4e7666a",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 2220,
        "y": 420,
        "wires": [
            [
                "67712cfd66ac5721",
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "64b4d1920fc579e3",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 2380,
        "y": 520,
        "wires": [
            [
                "1c5c66c4f01e2b0f"
            ]
        ]
    },
    {
        "id": "67712cfd66ac5721",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 2440,
        "y": 420,
        "wires": [
            [
                "64b4d1920fc579e3"
            ]
        ]
    },
    {
        "id": "1c5c66c4f01e2b0f",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "ed8f5c0910ea904a",
        "name": "Thông báo & Chuyển trang",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c1f2b08988e0e9c7",
        "type": "inject",
        "z": "0102ef3a5e2d0b80",
        "name": "Lặp mỗi giây",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 320,
        "y": 800,
        "wires": [
            [
                "71e2085d73dddf3e"
            ]
        ]
    },
    {
        "id": "71e2085d73dddf3e",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Lấy giờ Việt Nam",
        "func": "let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 820,
        "wires": [
            [
                "e9b4d6cd28ed2cb2"
            ]
        ]
    },
    {
        "id": "e9b4d6cd28ed2cb2",
        "type": "ui_text",
        "z": "0102ef3a5e2d0b80",
        "group": "19b13f6f4596a6de",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Hiển thị thời gian",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "f00e6aca2617c28f",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "19b13f6f4596a6de",
        "name": "Title MakerSpace",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 770,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff5033eb0133dce5",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Gửi MQTT",
        "group": "789242b56406cd71",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1090,
        "y": 1220,
        "wires": [
            [
                "48c030cd73217350"
            ]
        ]
    },
    {
        "id": "48c030cd73217350",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 1270,
        "y": 1240,
        "wires": [
            [
                "bb370f794194666a",
                "8e171a7fa3baa543"
            ]
        ]
    },
    {
        "id": "9bacd5d0a09f3a44",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 1460,
        "y": 1260,
        "wires": [
            [
                "8e171a7fa3baa543"
            ]
        ]
    },
    {
        "id": "bb370f794194666a",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 1550,
        "y": 1200,
        "wires": [
            [
                "9bacd5d0a09f3a44"
            ]
        ]
    },
    {
        "id": "8e171a7fa3baa543",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "group": "058eb6e0ea94ca5f",
        "name": "Thông báo & Chuyển trang",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1800,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "e78da61507736e43",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "group": "789242b56406cd71",
        "name": "Title MakerSpace",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1790,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ef3be8e6df25575",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Gửi MQTT",
        "group": "69b1e978f95a8bde",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "fcca74a66e632ec0"
            ]
        ]
    },
    {
        "id": "fcca74a66e632ec0",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 370,
        "y": 640,
        "wires": [
            [
                "a00e0d7d62140f45",
                "7c00cfabe0667c3e"
            ]
        ]
    },
    {
        "id": "66645281c43cf462",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 560,
        "y": 660,
        "wires": [
            [
                "7c00cfabe0667c3e"
            ]
        ]
    },
    {
        "id": "a00e0d7d62140f45",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "66645281c43cf462"
            ]
        ]
    },
    {
        "id": "7c00cfabe0667c3e",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "group": "1ee8b7c65473f833",
        "name": "Thông báo & Chuyển trang",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a018602eb55719bc",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "group": "69b1e978f95a8bde",
        "name": "Title MakerSpace",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "token_checker",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "Kiểm tra token",
        "func": "// Parse token\nconst data = JSON.parse(msg.payload);\n\nconst currentToken = flow.get(\"currentToken\");\nconst tokenTimestamp = flow.get(\"tokenTimestamp\");\nconst now = new Date().getTime();\nconst threeMinutes = 10 * 60 * 1000;\n\nif (data.token) {\n    if (!currentToken || (now - tokenTimestamp > threeMinutes) || data.token !== currentToken) {\n        flow.set(\"currentToken\", data.token);\n        flow.set(\"tokenTimestamp\", now);\n        flow.set(\"allow\", true);\n    } else {\n        flow.set(\"allow\", true);\n    }\n} else {\n    flow.set(\"allow\", false);\n}\n\nreturn null;",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "e83afa64a7a3b335",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Gửi MQTT",
        "group": "8aea3cf68df53597",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng Xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "ee2b6ea7a8adc907"
            ]
        ]
    },
    {
        "id": "ee2b6ea7a8adc907",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "4c4ea1978f265fa2",
                "233cb7cc4eb9ed27"
            ]
        ]
    },
    {
        "id": "1e97a0cbc2752776",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 1560,
        "y": 640,
        "wires": [
            [
                "233cb7cc4eb9ed27"
            ]
        ]
    },
    {
        "id": "4c4ea1978f265fa2",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 1650,
        "y": 580,
        "wires": [
            [
                "1e97a0cbc2752776"
            ]
        ]
    },
    {
        "id": "233cb7cc4eb9ed27",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "group": "e87352f38a248268",
        "name": "Thông báo & Chuyển trang",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1900,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "db27bd5b1c0a8feb",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "group": "8aea3cf68df53597",
        "name": "Title MakerSpace",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1890,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "02d2b0f2fcc2fc69",
        "type": "debug",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 220,
        "wires": []
    },
    {
        "id": "894e6597c8c545ca",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "",
        "group": "69b1e978f95a8bde",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "e69f5788958d2ebd"
            ]
        ]
    },
    {
        "id": "e69f5788958d2ebd",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "g": "1c3997bc1114fe52",
        "name": "",
        "events": "all",
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a01a3b7b4b2cbf99",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "",
        "events": "all",
        "x": 1920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d99e7ae240d12c43",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "",
        "group": "8aea3cf68df53597",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1820,
        "y": 480,
        "wires": [
            [
                "a01a3b7b4b2cbf99"
            ]
        ]
    },
    {
        "id": "6ae626f64b982275",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "",
        "events": "all",
        "x": 1880,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "e011542e1f39ce11",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9ccd4a726342b2c0",
        "name": "",
        "group": "789242b56406cd71",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1780,
        "y": 1140,
        "wires": [
            [
                "6ae626f64b982275"
            ]
        ]
    },
    {
        "id": "633394a5bda4beb8",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "19b13f6f4596a6de",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Hướng dẫn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Hướng dẫn\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2290,
        "y": 120,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "tmpl_guides",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "group_guides",
        "name": "Trang Hướng dẫn",
        "order": 1,
        "width": 7,
        "height": 18,
        "format": "<style>\n  .guide-box {\n    padding: 20px;\n    font-family: 'Segoe UI', sans-serif;\n    line-height: 1.6;\n    border: 1px solid #ccc;\n    border-radius: 10px;\n    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);\n    background-color: #fdfdfd;\n    margin-bottom: 20px;\n  }\n\n  .guide-box h2 {\n    color: #0066cc;\n    margin-bottom: 10px;\n  }\n\n  .guide-box h3 {\n    margin-top: 20px;\n    color: #444;\n  }\n\n  .guide-box ul {\n    padding-left: 20px;\n  }\n\n  .highlight {\n    color: #c33;\n    font-weight: bold;\n  }\n</style>\n\n<div class=\"guide-box\">\n  <h2>Chào mừng đến với Trung tâm Sáng tạo Khởi nghiệp &amp; Chuyển giao Công nghệ (MakerSpace)</h2>\n  <p>Nơi sinh viên có thể nghiên cứu, học tập và trải nghiệm thực tiễn trong môi trường sáng tạo, hiện đại.</p>\n\n  <h3>1. Đối tượng người dùng</h3>\n  <ul>\n    <li><b>Sinh viên chưa đăng ký</b>: Sinh viên tham quan, học tập.</li>\n    <li><b>Đối tượng đã đăng ký</b>: Nhóm sinh viên, Giảng viên làm việc.</li>\n    <li><b>Bảo mật</b>: Bộ phận quản lý, toàn quyền hệ thống.</li>\n  </ul>\n\n  <h3>2. Tài khoản &amp; Bảo mật</h3>\n  <ul>\n    <li><span class=\"highlight\">Đăng ký tài khoản qua bộ phận quản lý CISAT</span>.</li>\n    <li><b>Sinh viên chưa đăng ký</b>: Điều khiển trực tiếp (1 đèn - 1 giờ).</li>\n    <li><b>Sinh viên đã đăng ký</b>: Không giới hạn đèn <span class=\"highlight\">(Email@student.hcmute.edu.vn)</span>.\n    </li>\n    <li><b>Giảng viên đã đăng ký</b>: Không giới hạn thiết bị <span class=\"highlight\">(Email@hcmute.edu.vn)</span>.</li>\n    <li><b>Admin</b>: Sử dụng email được cấp sẵn.</li>\n    <li>Mật khẩu &ge; 6 ký tự. Quên mật khẩu → liên hệ Admin.</li>\n  </ul>\n\n  <h3>3. Lưu ý khi sử dụng</h3>\n  <ul>\n    <li>Guest có thể xin thêm thời gian sử dụng đèn.</li>\n    <li>Tắt đèn/quạt sau khi dùng (trừ khi tự động).</li>\n    <li>Mọi thắc mắc, liên hệ bộ phận kỹ thuật.</li>\n  </ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2930,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9c1ddca484351cab",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "ed8f5c0910ea904a",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Bảo trì",
        "tooltip": "",
        "color": "",
        "bgcolor": " ",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Bảo trì\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2250,
        "y": 260,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "4ec9e3bc3cc1b5f0",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "token",
        "group": "6283e33af4f473f5",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Token",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2390,
        "y": 700,
        "wires": [
            [
                "2f6aaadfafc451f3"
            ]
        ]
    },
    {
        "id": "d1442ffe24f643a7",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Gửi MQTT user_login",
        "func": "return {\n    payload: 1\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 700,
        "wires": [
            [
                "d3f99e05cea333bc",
                "d624c44f224cf145"
            ]
        ]
    },
    {
        "id": "d3f99e05cea333bc",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Đăng nhập MQTT",
        "topic": "TOKEN_DEVICE21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 2970,
        "y": 700,
        "wires": []
    },
    {
        "id": "2f6aaadfafc451f3",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 700,
        "wires": [
            [
                "d1442ffe24f643a7"
            ],
            []
        ]
    },
    {
        "id": "90568becad1e38e2",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "ID",
        "group": "8b4e0a6d48f9ea58",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Cập Nhật ID",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2390,
        "y": 780,
        "wires": [
            [
                "59480556bf8e4004"
            ]
        ]
    },
    {
        "id": "8225bb9faa2957f9",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Gửi MQTT user_login",
        "func": "return {\n    payload: 1\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 780,
        "wires": [
            [
                "5e8a4c3ed2bbc9fa",
                "d624c44f224cf145"
            ]
        ]
    },
    {
        "id": "5e8a4c3ed2bbc9fa",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Đăng nhập MQTT",
        "topic": "ID_DEVICE21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 2970,
        "y": 780,
        "wires": []
    },
    {
        "id": "59480556bf8e4004",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 780,
        "wires": [
            [
                "8225bb9faa2957f9"
            ],
            []
        ]
    },
    {
        "id": "308e06a42c7e6c6f",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "LOCAL",
        "group": "44de2f2f2634cb2c",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Cập nhật thông tin",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2400,
        "y": 860,
        "wires": [
            [
                "76038b4990209719"
            ]
        ]
    },
    {
        "id": "499b59a391476e6f",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Gửi MQTT user_login",
        "func": "return {\n    payload: 2\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 860,
        "wires": [
            [
                "d594f49cb61e6045",
                "d624c44f224cf145"
            ]
        ]
    },
    {
        "id": "d594f49cb61e6045",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Đăng nhập MQTT",
        "topic": "LOCAL_DEVICE21146282",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 2970,
        "y": 860,
        "wires": []
    },
    {
        "id": "76038b4990209719",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 860,
        "wires": [
            [
                "499b59a391476e6f"
            ],
            []
        ]
    },
    {
        "id": "dd89a28bd8b693b9",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "group": "8b4e0a6d48f9ea58",
        "name": "Title MakerSpace",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 18px; font-weight: bold; color: #dc3545;\">\n  (Chỉ cập nhật lại ID khi cần thiết)  \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2450,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "7e45817137ad9582",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "19b13f6f4596a6de",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Điều khiển",
        "tooltip": "",
        "color": "",
        "bgcolor": " green",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Điều khiển\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2330,
        "y": 340,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "inject_temp",
        "type": "inject",
        "z": "0102ef3a5e2d0b80",
        "name": "Giả lập nhiệt độ",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 2790,
        "y": 280,
        "wires": [
            [
                "fake_temp"
            ]
        ]
    },
    {
        "id": "fake_temp",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Nhiệt độ ngẫu nhiên",
        "func": "let month = new Date().getMonth() + 1; // Tháng 1–12 \n\nlet baseTemp;\nswitch (month) {\n    case 1: case 2: case 12:\n        baseTemp = 27; // mùa \"mát\"\n        break;\n    case 3: case 4: case 5:\n        baseTemp = 29; // mùa nắng đỉnh điểm\n        break;\n    case 6: case 7: case 8: case 9: case 10: case 11:\n        baseTemp = 28; // mùa mưa\n        break;\n    default:\n        baseTemp = 28;\n}\n\nlet temp = (Math.random() * 1.5 + baseTemp).toFixed(1);\n\nmsg.payload = `🌡️ Nhiệt độ: ${temp} °C – 🏙️ TP.HCM`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3020,
        "y": 280,
        "wires": [
            [
                "ui_temp"
            ]
        ]
    },
    {
        "id": "ui_temp",
        "type": "ui_text",
        "z": "0102ef3a5e2d0b80",
        "group": "19b13f6f4596a6de",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Nhiệt độ hiện tại",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 3260,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc93360fd83116f0",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "",
        "group": "920601cf01e10a48",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2760,
        "y": 980,
        "wires": [
            [
                "032d75a82fbf8ecc"
            ]
        ]
    },
    {
        "id": "032d75a82fbf8ecc",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "",
        "events": "all",
        "x": 2920,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "891b76c02e371d22",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Gửi MQTT",
        "group": "920601cf01e10a48",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 2550,
        "y": 1020,
        "wires": [
            [
                "49108a8a63065842"
            ]
        ]
    },
    {
        "id": "49108a8a63065842",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 2730,
        "y": 1020,
        "wires": [
            [
                "548cc6cb9ad98c61",
                "e6840fb9016a9c62"
            ]
        ]
    },
    {
        "id": "4bcf96cb8431767b",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 2920,
        "y": 1040,
        "wires": [
            [
                "e6840fb9016a9c62"
            ]
        ]
    },
    {
        "id": "548cc6cb9ad98c61",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 3210,
        "y": 1000,
        "wires": [
            [
                "4bcf96cb8431767b"
            ]
        ]
    },
    {
        "id": "e6840fb9016a9c62",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "group": "44de2f2f2634cb2c",
        "name": "Thông báo & Chuyển trang",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 3220,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "dce8b92dc376b68f",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần bật ( Không giới hạn) ",
        "group": "05caf864b614c69a",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "input",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 3710,
        "y": 740,
        "wires": [
            [
                "06908c227c9d3657"
            ]
        ]
    },
    {
        "id": "06908c227c9d3657",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 3980,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a2a1d42fac327bff",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Gửi MQTT",
        "group": "05caf864b614c69a",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Bật đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 3710,
        "y": 800,
        "wires": [
            [
                "4800aa753d62ad46"
            ]
        ]
    },
    {
        "id": "ad2d79d8424640a9",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3970,
        "y": 800,
        "wires": [
            [
                "4b3c203a931c2257",
                "84d65f4c53867af1",
                "5f2c259524695fb3",
                "a430144759d3ba75"
            ]
        ]
    },
    {
        "id": "4b3c203a931c2257",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "set",
        "topic": "SV_ON21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 4150,
        "y": 800,
        "wires": []
    },
    {
        "id": "0c9a05c578a33aa1",
        "type": "ui_text_input",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Nhập số đèn",
        "label": "         Số đèn (1–70)",
        "tooltip": "Nhập đèn cần tắt",
        "group": "05caf864b614c69a",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 0,
        "topic": "input",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 3770,
        "y": 1000,
        "wires": [
            [
                "2ff35ff2ab1c0560"
            ]
        ]
    },
    {
        "id": "2ff35ff2ab1c0560",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lưu vào flow",
        "rules": [
            {
                "t": "set",
                "p": "device_num",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 3980,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "b750ce8f1bfe1d6f",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Gửi MQTT",
        "group": "05caf864b614c69a",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tắt đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 3730,
        "y": 1080,
        "wires": [
            [
                "1cb450085ad9c3ef"
            ]
        ]
    },
    {
        "id": "7082357482b23358",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Tạo JSON",
        "func": "let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3910,
        "y": 1080,
        "wires": [
            [
                "dc667107d375bb7c",
                "18b01a7f95b83440",
                "5f2c259524695fb3",
                "6a23723240f4f2f4"
            ]
        ]
    },
    {
        "id": "dc667107d375bb7c",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "OFF_GUEST",
        "topic": "APP_OFF21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 4180,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d5552236a35aad87",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 4390,
        "y": 1100,
        "wires": [
            [
                "16de2ede17b4a82c"
            ]
        ]
    },
    {
        "id": "6a7789caf8a44ec2",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 4390,
        "y": 1020,
        "wires": [
            [
                "d5552236a35aad87"
            ]
        ]
    },
    {
        "id": "18b01a7f95b83440",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 4190,
        "y": 1020,
        "wires": [
            [
                "6a7789caf8a44ec2",
                "16de2ede17b4a82c"
            ]
        ]
    },
    {
        "id": "ae0feb8f41eec50b",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 4330,
        "y": 840,
        "wires": [
            [
                "16de2ede17b4a82c"
            ]
        ]
    },
    {
        "id": "fa78faf6cc8e0f52",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 4390,
        "y": 740,
        "wires": [
            [
                "ae0feb8f41eec50b"
            ]
        ]
    },
    {
        "id": "84d65f4c53867af1",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 4170,
        "y": 740,
        "wires": [
            [
                "fa78faf6cc8e0f52",
                "16de2ede17b4a82c"
            ]
        ]
    },
    {
        "id": "5f2c259524695fb3",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Điều khiển thành công",
        "name": "Thông báo thành công",
        "x": 4100,
        "y": 920,
        "wires": []
    },
    {
        "id": "4800aa753d62ad46",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3850,
        "y": 860,
        "wires": [
            [
                "ad2d79d8424640a9"
            ]
        ]
    },
    {
        "id": "1cb450085ad9c3ef",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3850,
        "y": 1160,
        "wires": [
            [
                "7082357482b23358"
            ]
        ]
    },
    {
        "id": "a430144759d3ba75",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "reset",
        "func": "let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3830,
        "y": 960,
        "wires": [
            [
                "dce8b92dc376b68f"
            ]
        ]
    },
    {
        "id": "6a23723240f4f2f4",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "reset",
        "func": "let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4030,
        "y": 1120,
        "wires": [
            [
                "0c9a05c578a33aa1"
            ]
        ]
    },
    {
        "id": "39773f2b706319ef",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "group": "19da0368fbb4f82c",
        "name": "Title MakerSpace",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MAKERSPACE\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4510,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "feba4f95abc7abb4",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "group": "05caf864b614c69a",
        "name": "Micro Input",
        "order": 5,
        "width": 6,
        "height": 4,
        "format": "<div style=\"\n  max-width: 400px;\n  margin: 20px auto;\n  text-align: center;\n  font-family: 'Segoe UI', sans-serif;\n  padding: 12px;\n  border-radius: 12px;\n  border: 1px solid #ccc;\n  box-shadow: 0 2px 8px rgba(0,0,0,0.08);\n  background: #f9f9f9;\">\n\n  <button id=\"start-btn\" style=\"\n    padding: 10px 20px;\n    font-size: 16px;\n    font-weight: bold;\n    background-color: #4CAF50;\n    color: white;\n    border: none;\n    border-radius: 8px;\n    cursor: pointer;\n    box-shadow: 0 2px 5px rgba(0,0,0,0.15);\n    transition: background-color 0.3s ease;\">\n    🎤 Nhấn để nói\n  </button>\n\n  <p id=\"result\" style=\"margin-top: 16px; font-size: 16px; color: green;\"></p>\n\n  <div style=\"margin-top: 16px; font-size: 14px; color: #555; line-height: 1.5;\">\n    <p><strong>Hãy nói rõ câu lệnh Bật/Tắt Đèn:</strong></p>\n    <p>👉 <b>\"Bật đèn 1\"</b> hoặc <b>\"Tắt đèn 2,3\"</b></p>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n    const btn = document.getElementById('start-btn');\n    const result = document.getElementById('result');\n\n    const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;\n    const recognition = new SpeechRecognition();\n\n    recognition.lang = 'vi-VN';\n    recognition.interimResults = false;\n    recognition.maxAlternatives = 1;\n    recognition.continuous = false;\n\n    btn.onclick = function () {\n      btn.innerText = \"🎙️ Đang nghe...\";\n      btn.style.backgroundColor = \"#888\";\n      btn.disabled = true;\n      recognition.start();\n    };\n\n    recognition.onspeechend = function () {\n      recognition.stop(); // Dừng ngay sau khi hết nói\n    };\n\n    recognition.onresult = function (event) {\n      const transcript = event.results[event.resultIndex][0].transcript.trim().toLowerCase();\n      result.innerText = \"📢 Bạn nói: \" + transcript;\n      scope.send({ payload: transcript });\n\n      btn.disabled = false;\n      btn.innerText = \"🎤 Nhấn để nói\";\n      btn.style.backgroundColor = \"#4CAF50\";\n    };\n\n    recognition.onerror = function (event) {\n      result.innerText = \"❌ Lỗi: \" + event.error;\n      btn.disabled = false;\n      btn.innerText = \"🎤 Nhấn để nói\";\n      btn.style.backgroundColor = \"#4CAF50\";\n    };\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3970,
        "y": 1200,
        "wires": [
            [
                "c09073801a9ebb3d"
            ]
        ]
    },
    {
        "id": "7d1eed6302c9134b",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lấy số từ giọng nói Bật",
        "func": "const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"tắt\" hoặc \"tắc\"\nif (text.includes(\"bật\") || text.includes(\"mở\")) {\n    const matches = text.match(/\\d+/g); // tìm tất cả các số\n\n    if (matches && matches.length > 0) {\n        const messages = matches.map(number => {\n            return {\n                payload: {\n                    device: parseInt(number),\n                    Hour: 1\n                }\n            };\n        });\n\n        // Trả về nhiều tin nhắn (sử dụng node \"Split\" để tách hoặc return [msg1, msg2, ...])\n        return [messages];\n    }\n}\n\n// Nếu không có chữ \"tắt\" hoặc không có số thì bỏ qua\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4370,
        "y": 1180,
        "wires": [
            [
                "4b3c203a931c2257"
            ]
        ]
    },
    {
        "id": "e5aab2f577124d4d",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lấy số từ giọng nói Tắt",
        "func": "const text = msg.payload.toLowerCase();  // chuyển về chữ thường\n\n// Chỉ xử lý khi có chữ \"tắt\" hoặc \"tắc\"\nif (text.includes(\"tắt\") || text.includes(\"tắc\")) {\n    const matches = text.match(/\\d+/g); // tìm tất cả các số\n\n    if (matches && matches.length > 0) {\n        const messages = matches.map(number => {\n            return {\n                payload: {\n                    device: parseInt(number),\n                    Hour: 1\n                }\n            };\n        });\n\n        // Trả về nhiều tin nhắn (sử dụng node \"Split\" để tách hoặc return [msg1, msg2, ...])\n        return [messages];\n    }\n}\n\n// Nếu không có chữ \"tắt\" hoặc không có số thì bỏ qua\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4360,
        "y": 1220,
        "wires": [
            [
                "dc667107d375bb7c"
            ]
        ]
    },
    {
        "id": "c09073801a9ebb3d",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Check quyền",
        "func": "if (flow.get(\"allow\") === true) {\n    return msg;\n} else {\n    node.warn(\"Không có quyền sử dụng\");\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4150,
        "y": 1200,
        "wires": [
            [
                "7d1eed6302c9134b",
                "e5aab2f577124d4d",
                "02f3089460ae4a4e",
                "291d2f29d84af3a7"
            ]
        ]
    },
    {
        "id": "02f3089460ae4a4e",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lấy số từ giọng nói tắt",
        "func": "const text = msg.payload.toLowerCase();\n\n// Kiểm tra các từ khóa chỉ toàn bộ\nconst tatHet = text.includes(\"tắt hết\") || text.includes(\"tắt tất cả\") || text.includes(\"tắt toàn bộ\");\n\nif (tatHet) {\n    // Danh sách các thiết bị giả sử là 1 -> 3\n    const allDevices = Array.from({ length: 70 }, (_, index) => index + 1);\n\n    const messages = allDevices.map(number => ({\n        payload: {\n            device: number,\n            Hour: 1\n        }\n    }));\n\n    return [messages];\n}\n\n\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4620,
        "y": 1200,
        "wires": [
            [
                "1cacdcd943955dcd"
            ]
        ]
    },
    {
        "id": "1cacdcd943955dcd",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "APP_ALL21146282",
        "topic": "APP_ALL21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 4730,
        "y": 1220,
        "wires": []
    },
    {
        "id": "391e4e54cd4ac542",
        "type": "mqtt out",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "APP_ALL21146282",
        "topic": "APP_ALL21146282",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "37fcf5bfccf8b220",
        "x": 4690,
        "y": 960,
        "wires": []
    },
    {
        "id": "291d2f29d84af3a7",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Lấy số từ giọng nói tắt",
        "func": "const text = msg.payload.toLowerCase();\n\n// Kiểm tra các từ khóa chỉ toàn bộ\nconst tatHet = text.includes(\"tắt hết\") || text.includes(\"tắt tất cả\") || text.includes(\"tắt toàn bộ\");\n\nif (tatHet) {\n    // Danh sách các thiết bị giả sử là 1 -> 3\n    const allDevices = Array.from({ length: 70 }, (_, index) => index + 1);\n\n    const messages = allDevices.map(number => ({\n        payload: {\n            device: number,\n            Hour: 1\n        }\n    }));\n\n    return [messages];\n}\n\n\n\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4460,
        "y": 960,
        "wires": [
            [
                "391e4e54cd4ac542"
            ]
        ]
    },
    {
        "id": "640a7643abf36e5a",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "",
        "group": "19da0368fbb4f82c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 3800,
        "y": 1240,
        "wires": [
            [
                "a27f8e67b5946881"
            ]
        ]
    },
    {
        "id": "a27f8e67b5946881",
        "type": "ui_ui_control",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "",
        "events": "all",
        "x": 4040,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3116c0bfd5e21b",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Gửi MQTT",
        "group": "19da0368fbb4f82c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 3670,
        "y": 1280,
        "wires": [
            [
                "0bee17aeafefe900"
            ]
        ]
    },
    {
        "id": "0bee17aeafefe900",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 3850,
        "y": 1280,
        "wires": [
            [
                "1684e490ace6fb6c",
                "e8ddac221f4e1ca8"
            ]
        ]
    },
    {
        "id": "2d3495a045b613b0",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 4040,
        "y": 1300,
        "wires": [
            [
                "e8ddac221f4e1ca8"
            ]
        ]
    },
    {
        "id": "1684e490ace6fb6c",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 4330,
        "y": 1260,
        "wires": [
            [
                "2d3495a045b613b0"
            ]
        ]
    },
    {
        "id": "e8ddac221f4e1ca8",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "group": "05caf864b614c69a",
        "name": "Thông báo & Chuyển trang",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 4340,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "16de2ede17b4a82c",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "g": "3a05d3cabc3495d2",
        "group": "05caf864b614c69a",
        "name": "Thông báo & Chuyển trang",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:red;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Vui lòng thoát sau khi dùng!</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-admin.onrender.com/ui/\";\n            }, 00000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 4440,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d624c44f224cf145",
        "type": "ui_toast",
        "z": "0102ef3a5e2d0b80",
        "g": "9a727d3644f66c8e",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Điều khiển thành công",
        "name": "Thông báo thành công",
        "x": 2980,
        "y": 740,
        "wires": []
    },
    {
        "id": "af68a7128b473072",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "21a7eb37f0968396",
        "name": "Hiển thị 70 LED",
        "order": 1,
        "width": 6,
        "height": 13,
        "format": "<!-- Font Awesome (chỉ cần thêm một lần trong <head> nếu dùng web) -->\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css\">\n\n<div layout=\"row\" layout-wrap layout-align=\"center center\"\n    style=\"justify-content: center; padding: 10px; background-color: #f0f2f5; font-family: 'Segoe UI', sans-serif;\">\n\n    <div ng-repeat=\"led in msg.payload\" style=\"margin: 8px;\n                width: 120px;\n                height: 80px;\n                background: linear-gradient(135deg, {{led.color}}, #2c3e50);\n                color: white;\n                border-radius: 20px;\n                display: flex;\n                flex-direction: column;\n                justify-content: center;\n                align-items: center;\n                box-shadow: 0 4px 12px rgba(0,0,0,0.15);\n                transition: transform 0.2s ease, box-shadow 0.2s ease;\n                cursor: pointer;\"\n        onmouseover=\"this.style.transform='scale(1.05)'; this.style.boxShadow='0 6px 18px rgba(0,0,0,0.2)'\"\n        onmouseout=\"this.style.transform='scale(1)'; this.style.boxShadow='0 4px 12px rgba(0,0,0,0.15)'\">\n\n        <!-- ICON LED -->\n        <div style=\"font-size: 24px; margin-bottom: 5px;\">\n            <i class=\"fas fa-lightbulb\"></i>\n        </div>\n\n        <!-- ID và trạng thái -->\n        <div style=\"font-size: 16px; font-weight: bold;\">LED {{led.id}}</div>\n        <div style=\"font-size: 13px; opacity: 0.9;\">{{led.status}}</div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4020,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a9bdea761b952d8e",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "19da0368fbb4f82c",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Thiết bị đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Thiết bị đèn\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2470,
        "y": 140,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "ab9e26e45d9c216f",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "19da0368fbb4f82c",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Khu vực đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Khu vực\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2530,
        "y": 80,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "9e50c274fe2f7c71",
        "type": "mqtt in",
        "z": "0102ef3a5e2d0b80",
        "name": "MQTT Đèn",
        "topic": "STATUS_21146282",
        "qos": "0",
        "datatype": "auto",
        "broker": "37fcf5bfccf8b220",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 3520,
        "y": 540,
        "wires": [
            [
                "d1f2565decd1f8ed"
            ]
        ]
    },
    {
        "id": "4ecc7e36c1694f86",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Cập nhật trạng thái LED",
        "func": "// Tạo danh sách 70 đèn, tất cả OFF mặc định\nlet leds = global.get(\"leds\") || Array.from({length: 70}, (_, i) => ({\n    id: i + 1,\n    status: \"OFF\",\n    color: \"gray\"\n}));\n\n// Nếu có payload từ MQTT\nif (msg.payload && msg.payload.value !== undefined) {\n    const index = msg.payload.value - 1;\n    if (index >= 0 && index < 70) {\n        leds[index].status = msg.payload.status;\n        leds[index].color = msg.payload.status === \"ON\" ? \"green\" : \"gray\";\n    }\n}\n\n// Lưu lại trạng thái toàn cục\nglobal.set(\"leds\", leds);\n\nmsg.payload = leds;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3770,
        "y": 620,
        "wires": [
            [
                "af68a7128b473072"
            ]
        ]
    },
    {
        "id": "d1f2565decd1f8ed",
        "type": "json",
        "z": "0102ef3a5e2d0b80",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3710,
        "y": 520,
        "wires": [
            [
                "55b34ad2264c8787",
                "4ecc7e36c1694f86"
            ]
        ]
    },
    {
        "id": "55b34ad2264c8787",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "name": "Format for UI",
        "func": "// msg.payload = { status: \"ON\", value: 10 }\nconst status = msg.payload.status;\nconst value = msg.payload.value;\n\nmsg.payload = {\n    label: \"Đèn \" + value,\n    status: status,\n    color: status === \"ON\" ? \"green\" : \"gray\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3910,
        "y": 540,
        "wires": [
            [
                "083808c39f9b708b"
            ]
        ]
    },
    {
        "id": "083808c39f9b708b",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "19da0368fbb4f82c",
        "name": "Light Status Card",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding:10px; border-radius: 8px; background-color: {{msg.payload.color}}; color: white;\">\n    <b>{{msg.payload.label}}</b><br>\n    Trạng thái: {{msg.payload.status}}\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 4150,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "fa59e7eb9174807f",
        "type": "inject",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Lặp mỗi giây",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 1400,
        "y": 160,
        "wires": [
            [
                "aa6e44bc878f39db"
            ]
        ]
    },
    {
        "id": "aa6e44bc878f39db",
        "type": "function",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "name": "Lấy giờ Việt Nam",
        "func": "let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 160,
        "wires": [
            [
                "3b8ecc04604307d1"
            ]
        ]
    },
    {
        "id": "3b8ecc04604307d1",
        "type": "ui_text",
        "z": "0102ef3a5e2d0b80",
        "g": "4a9fc846b062bec6",
        "group": "19da0368fbb4f82c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Hiển thị thời gian",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1790,
        "y": 160,
        "wires": []
    },
    {
        "id": "b348719f968d0df8",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "Gửi MQTT",
        "group": "aec8b69d9b78ff05",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Đăng Xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 3530,
        "y": 420,
        "wires": [
            [
                "3898624fca18f964"
            ]
        ]
    },
    {
        "id": "3898624fca18f964",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Set redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "redirect",
                "tot": "str"
            }
        ],
        "x": 3710,
        "y": 420,
        "wires": [
            [
                "b6b82b8dbc1084e1",
                "006f608a27697e88"
            ]
        ]
    },
    {
        "id": "ec84ab081b51547f",
        "type": "change",
        "z": "0102ef3a5e2d0b80",
        "name": "Xóa redirect",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "idle",
                "tot": "str"
            }
        ],
        "x": 3900,
        "y": 440,
        "wires": [
            [
                "006f608a27697e88"
            ]
        ]
    },
    {
        "id": "b6b82b8dbc1084e1",
        "type": "delay",
        "z": "0102ef3a5e2d0b80",
        "name": "Delay xóa redirect",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "",
        "randomLast": "",
        "randomUnits": "seconds",
        "allowrate": false,
        "outputs": 1,
        "x": 3990,
        "y": 380,
        "wires": [
            [
                "ec84ab081b51547f"
            ]
        ]
    },
    {
        "id": "006f608a27697e88",
        "type": "ui_template",
        "z": "0102ef3a5e2d0b80",
        "group": "21a7eb37f0968396",
        "name": "Thông báo & Chuyển trang",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-on-render-pgsk.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 4240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fd52be2aaec0d160",
        "type": "ui_button",
        "z": "0102ef3a5e2d0b80",
        "name": "",
        "group": "aec8b69d9b78ff05",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Quay lại",
        "tooltip": "",
        "color": "",
        "bgcolor": " ",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Admin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 2445,
        "y": 243.75,
        "wires": [
            [
                "ee2daf0403a325bc"
            ]
        ]
    },
    {
        "id": "1ee8b7c65473f833",
        "type": "ui_group",
        "name": "Tạo tài khoản ",
        "tab": "edff4ca80b5a4d7b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37fcf5bfccf8b220",
        "type": "mqtt-broker",
        "name": "APP",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e87352f38a248268",
        "type": "ui_group",
        "name": "Đổi mật khẩu",
        "tab": "437a732ccfa6e123",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed8f5c0910ea904a",
        "type": "ui_group",
        "name": "Quản lí tài khoản & Bảo trì",
        "tab": "4a32f4a650a2804b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "058eb6e0ea94ca5f",
        "type": "ui_group",
        "name": "Xóa tài khoản",
        "tab": "4e4dadd0f8b7f913",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19b13f6f4596a6de",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng ",
        "tab": "4a32f4a650a2804b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "789242b56406cd71",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng ",
        "tab": "4e4dadd0f8b7f913",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69b1e978f95a8bde",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng ",
        "tab": "edff4ca80b5a4d7b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8aea3cf68df53597",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng ",
        "tab": "437a732ccfa6e123",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_guides",
        "type": "ui_group",
        "name": "Hướng dẫn MakerSpace",
        "tab": "tab_guides",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "6283e33af4f473f5",
        "type": "ui_group",
        "name": "Bước 1: Kích hoạt mã token",
        "tab": "6164212888cc7db7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b4e0a6d48f9ea58",
        "type": "ui_group",
        "name": " Bước 2: Cập nhật lại ID ",
        "tab": "6164212888cc7db7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44de2f2f2634cb2c",
        "type": "ui_group",
        "name": " Bước 3: Cập nhật lại thông tin",
        "tab": "6164212888cc7db7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "920601cf01e10a48",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng",
        "tab": "6164212888cc7db7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05caf864b614c69a",
        "type": "ui_group",
        "name": "Điều khiển ",
        "tab": "85d982416568f298",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19da0368fbb4f82c",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi điều khiển",
        "tab": "85d982416568f298",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21a7eb37f0968396",
        "type": "ui_group",
        "name": "Thiết bị",
        "tab": "15779f70e81b311a",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aec8b69d9b78ff05",
        "type": "ui_group",
        "name": "Vui lòng thoát sau khi sử dụng",
        "tab": "15779f70e81b311a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edff4ca80b5a4d7b",
        "type": "ui_tab",
        "name": "Tạo tài khoản",
        "icon": "account_circle",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "437a732ccfa6e123",
        "type": "ui_tab",
        "name": "Đổi mật khẩu",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a32f4a650a2804b",
        "type": "ui_tab",
        "name": "Admin",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e4dadd0f8b7f913",
        "type": "ui_tab",
        "name": "Xóa tài khoản",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_guides",
        "type": "ui_tab",
        "name": "Hướng dẫn",
        "icon": "book",
        "order": 3
    },
    {
        "id": "6164212888cc7db7",
        "type": "ui_tab",
        "name": "Bảo trì",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "85d982416568f298",
        "type": "ui_tab",
        "name": "Điều khiển",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "15779f70e81b311a",
        "type": "ui_tab",
        "name": "Thiết bị đèn",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
